<header class="flex flex-col md:flex-row justify-between items-start md:items-center mb-8 gap-6">
    <div>
        <h1 class="text-3xl font-bold mb-1">小风</h1>
        <h2 class="text-xl text-[var(--primary)] font-semibold mb-2">软件开发工程师</h2>
        <p class="text-sm opacity-80 max-w-lg">拥有 4+ 年的开发经验，主要聚焦于 Java 领域</p>
    </div>
    <div class="flex flex-col items-end">
        <div class="flex items-center mb-2">
            <i class="fas fa-envelope mr-2 text-[var(--primary)]"></i>
            <span class="text-sm"><a href="mailto:huyongc@foxmail.com">huyongc@foxmail.com</a></span>
        </div>
        <div class="flex items-center mb-2">
            <i class="fas fa-phone mr-2 text-[var(--primary)]"></i>
            <span class="text-sm">17638237970</span>
        </div>
        <div class="flex items-center mb-2">
            <i class="fas fa-map-marker-alt mr-2 text-[var(--primary)]"></i>
            <span class="text-sm">China/NJ</span>
        </div>
        <!--<div class="flex items-center">
            <i class="fab fa-linkedin mr-2 text-[var(--primary)]"></i>
            <span class="text-sm"><a href="linkedin.com/in/johndoe">linkedin.com/in/johndoe</a></span>
        </div>-->
    </div>
</header>
